<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand">
			<a href="/">
				<span class="logo">
					Б
				</span>
			</a>
		</li>
		<li>
			<a href="/news"><i class="ion-ios-paper-outline active"></i>Новости</a>
		</li>
		<li>
			<a href="/books"><i class="ion-ios-book-outline"></i>Книги</a>
		</li>
		<!--
		<li>
			<a href="#"><i class="ion-ios-person-outline"></i>Авторы</a>
		</li>
		-->
		<li>
			<a href="/ganres"><i class="ion-ios-color-filter-outline"></i>Жанры</a>
		</li>
		<li>
			<a href="/tags"><i class="ion-ios-medical-outline"></i>Метки</a>
		</li>
		<li>
			<div class="btnBox">
				<a class="addBook" href="/addbook"><i class="ion-plus"></i><span>Добавить книгу</span></a>
			</div>
		</li>
		<li>
			<div class="btnBox">
				<a class="addBook"  style="border-color: orange" href="/litres"><i class="ion-plus"></i><span>Взять из Litres</span></a>
			</div>
		</li>
	</ul>

</div>