<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand">
			<a href="/">
				<span class="logo">
					Б
				</span>
			</a>
		</li>
		<li>
			<a href="#"><i class="ion-ios-book-outline active"></i>Книги</a>
		</li>
		<li>
			<a href="#"><i class="ion-ios-person-outline"></i>Авторы</a>
		</li>
		<li>
			<a href="#"><i class="ion-ios-medical-outline"></i>Жанры</a>
		</li>
		<li>
			<a href="#"><i class="ion-ios-color-filter-outline"></i>Тэги</a>
		</li>
		<li>
			<div class="btnBox">
				<a class="addBook" href="addbook"><i class="ion-plus"></i><span>Добавить книгу</span></a>
			</div>
		</li>
	</ul>

</div>