<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand">
			<a href="/">
				<span class="logo">
					Б
				</span>
			</a>
		</li>
		<li>
			<a href="/news"><i class="ion-ios-paper-outline {{#if active.news}}active{{/if}}"></i>Новости</a>
		</li>
		<li>
			<a href="/books"><i class="ion-ios-book-outline {{#if active.books}}active{{/if}}"></i>Книги</a>
		</li>
		<li>
			<a href="/ganres"><i class="ion-ios-color-filter-outline {{#if active.ganres}}active{{/if}}"></i>Жанры</a>
		</li>
	</ul>

</div>