.main {
	.pageHeaderBook {
		h1 {
			width: 100%;
			min-width: 250px;
			height: 100px;
			font-weight: lighter;
			overflow: hidden;
			font-size: 27px;
			padding-top: 25px;
			line-height: normal;
			max-height: 300px;
		}
		i {
			position: absolute;
			top: 10px;
			left: 15px;
			font-size: 23px;
			color: grey;
		}
	}

	.bookPage {
		margin: 0 0 0 40px;
		clear: both;
		overflow: hidden;

		.cover {
			float: left;
			margin: 0 40px 20px 0;
			width: auto;
			max-width: 400px;
		}
		.info {
			float: left;
			width: 500px;

			> div {
				margin: 0 0 10px 0;
			}

			i {
				font-size: 20px;
				color: #b4b4b4;
				position: relative;
				top: 2px
			}
			.author {
				a {
					text-decoration: underline;
					&:hover {
						text-decoration: none;
					}
				}
				a,i {
					color: #000;
				}
			}
			.year {
				font-size: 15px;
				color: #727272;
			}
			.ganres {
				font-size: 14px;
				a {
					text-decoration: underline;
					&:hover {
						text-decoration: none;
					}
				}
				a,i{
					color: #777;
				}
				i {
					top: 3px;
				}
			}
			.tags {
				font-size: 14px;
				a {
					text-decoration: underline;
					&:hover {
						text-decoration: none;
					}
				}
				a,i{
					color: #999;
				}
				i {
					top: 3px;
				}
			}
			.stars {

				i {
					font-size: 29px;
					color: #FF7F00;
					padding: 0 1px;
				}
				.no-rate i {
					color: #b4b4b4;
				}
				.count {
					position: relative;
					color: #FF7F00;
					font-weight: bold;
					left: 5px;
					top: -2px;
				}
				.totalCount {
					border: 1px solid #000;
					font-size: 14px;
					color: #ababab;
					padding: 2px 5px;
					cursor: pointer;
					span {
						.lh-transition(all 1s ease);
					}
				}
				.arrow_box {
					position: relative;
					background: #fff;
					border: 2px solid #ccc;
					left: 15px;
					top: -2px;
				}
				.arrow_box:after, .arrow_box:before {
					right: 100%;
					top: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}

				.arrow_box:after {
					border-right-color: #fff;
					border-width: 7px;
					margin-top: -7px;
				}
				.arrow_box:before {
					border-right-color: #c3c3c3;
					border-width: 9px;
					margin-top: -9px;
				}
			}
			.litres{
				margin: 20px 0;
				a {
					width: 200px;
					cursor: pointer;
					display: block;
					color: #fff;
					background-color: #4d9c8a;
					text-align: center;
					letter-spacing: .5px;
					padding: 5px 15px;
					border: 2px solid #4d9c8a;
					.lh-background-image(linear-gradient(to bottom, #4D9B94 0%,#54ab97  100%));

					&:hover {
						.lh-background-image(linear-gradient(to bottom, #54ab97 0%,#4D9B94  100%));
					}

					&.read{
						background: #fff!important;
						color: #4d9c8a;

						i {
							display: inline-block;
							color: #4d9c8a;
							width: 30px;
							text-align: left;
						}
					}

				}
			}
		}
		.description {
			clear: left;
			line-height: 22px;
			color: #333;
			max-width: 800px;
		}
	}
}