* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html{
  height: 100%;
}
body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  height: 100%;
}
table{
  tr{
    border-bottom: 1px solid #ededed;

    td,th {
      line-height: 30px!important;
      vertical-align: middle!important;
    }
  }
}

@import '../bower_components/lesshat/build/lesshat-prefixed.less';
@import './main.less';
@import './sidebar.less';
@import './header.less';
@import './book.less';
@import './ganre.less';
@import './catalog.less';
@import './news.less';
@import './footer.less';
@import './admin.less';
@import './404.less';




