* {
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444c63;
  height: 100%;
  margin-top: 50px;
}

@import '../bower_components/lesshat/build/lesshat-prefixed.less';
@import './header.less';
@import './main.less';
@import './footer.less';


