.main{

	.pageHeader {
		height: 100px;

		h1 {
			float: left;
			margin: 0 0 0 40px;
			width: 30%;
			min-width: 250px;
			line-height: 100px;
			font-weight: lighter;
			overflow: hidden;
			max-height: 100px;
			position: relative;

			&:after {
				content: '';
				width: 50%;
				height: 100%;
				position: absolute;
				right: 0;
				top: 0;
				background: linear-gradient(to right, transparent, white);
			}
		}

		.sorting {
			float: left;
			margin-top: 30px;
			color: #e1e8e6;
			font-size: 30px;

			a {
				position: relative;
				text-transform: uppercase;
				color: #899c97;
				font-size: 12px;
				padding: 0 0 15px 0;
				bottom: 5px;
				font-weight: bold;

				&.active {
					color: #489382;
				}
			}
		}

	}

	.book-list {
		margin: 0 20px;
		clear: both;
		overflow: hidden;

		.book {
			margin: 0 20px 20px;
			float: left;
			.lh-transition(all 0.5s ease);

			img {
				width: 200px;
				height: 300px;
			}
		}

	}

	.addBookForm {
		margin: 0 30px;
	}
}