.main{
	margin-bottom: 40px;

	h1 {
		position: relative;
		float: left;
		margin: 0 0 0 40px;
		width: 100%;
		min-width: 250px;
		line-height: 100px;
		font-weight: normal;
		overflow: hidden;
		max-height: 100px;
	}

	h2{
		border-top: 1px solid #ccc;
		padding: 5px 0 15px 15px;
		font-weight: lighter;
		font-size: 18px;
		color: #aeaeae;
	}

	.pageHeader {
		height: 100px;

		h1 {
			position: relative;
			margin: 0 0 0 40px;
			width: 100%;
			max-height: 100px;
			color: #4d9c8a;

			&#bukker{
				.bracket, .bracket2{
					font-size: 27px;
					color: #ccc;
				}
				span{
					font-size: 21px;
				}
				.visible{display: inline-block!important;}
				.sub{
					cursor: pointer;
					display: none;
					color: #5a5a5a;
				}
				b{
					&.star{
						color: orange;
					}
					&.new{
						color: #19638a;
					}
					&.pop{
						color: #4d9c8a;
					}
				}
			}
		}
		i {
			position: absolute;
			top: 10px;
			left: 15px;
			font-size: 27px;
			color: #ccc;
		}
		//Settings block
		#settings{
			position: absolute;
			right: 5%;
			top: 15px;
			height: 60px;
			width: 250px;
			font-size: 25px;
			border: 1px solid #ccc;
			padding: 0 7px;
			text-align: right;
			overflow: hidden;

			a {
				line-height: 60px;
				padding: 0 5px;
				&:hover{
					background: #ececec!important;

				}
				&.active{
					.lh-background-image(linear-gradient(to bottom, #444444 0%, #202020 100%));
					color: #fff;
					&:hover{
						background: #202020!important;
					}
				}
			}
		}

	}

	.pageHeaderInner {
		height: 100px;

		h1 {
			position: relative;
			float: left;
			margin: 0 0 0 40px;
			width: 100%;
			max-height: 100px;
			color: #202020;
			font-weight: lighter;
			font-size: 27px;
		}
		i {
			position: absolute;
			top: 10px;
			left: 15px;
			font-size: 27px;
			color: grey;
		}
	}

	.book-list {
		margin: 0 0 0 20px;
		clear: both;
		overflow: hidden;

		.book {
			margin: 0 20px 20px;
			float: left;
			max-width: 200px;
			height: 400px;

			.cover {
				/*
				&:hover .overlay,
				&.active .overlay{
					position: absolute;
					background-color: #000011;
					width: 200px;
					height: 300px;
					opacity: 0.7;
				}
				&:hover .overlay{
					.lh-transition(all 0.3s ease);
				}
				*/
				img {
					width: 200px;
					height: 300px;
				}
			}

			a {
				display: block;
				&.title{
					color: black;
					margin: 5px 0 2px;
					max-height: 36px;
					overflow: hidden;
					text-decoration: underline;
				}
				&:hover.title{
					text-decoration: none;
				}
			}
			.author{
				color: grey;
				font-size: 14px;
				max-height: 30px;
				overflow: hidden;
			}
			.stars {
				i {
					font-size: 25px;
					color: #FF7F00;
					padding: 0 1px;
				}
				.no-rate i {
					color: #b4b4b4;
				}
				.count {
					position: relative;
					font-size: 13px;
					top: -3px;
					left: 10px;
					color: #FF7F00;
				}
				.totalCount {
					color: #fff;
					display: none;
				}
			}
		}

	}

	.addForm {
		margin: 0 30px;
		max-width: 800px;

		.upload {
			font-size: 50px;
			cursor: pointer;
			color: #000;
		}
	}
	.form-group{
		position: relative;

		.form-control {
			.lh-box-shadow(0px 1px 1px  rgba(0, 0, 0, 0.3) inset);
		}

		&.fileinput {

			label {
				position: relative;
				top: 0;
				left: 0;
			}
			> input
			{
				display: none;
			}

			img
			{
				width: 80px;
				cursor: pointer;
			}
		}
	}
	button {
		width: 200px;
		height: 70px;
		color: #fff;
		background: transparent;
		padding: 0 15px 0 10px;
		border: 3px solid #4d9c8a;
		font-size: 20px;
		.lh-background-image(linear-gradient(to bottom, #4D9B94 0%,#54ab97  100%));
		.lh-transition(all 0.5s ease);

		&:hover {
			background: #ededed;
			border: 3px solid #4d9c8a;
			color: #fff;
			.lh-background-image(linear-gradient(to bottom, #54ab97 0%,#4D9B94  100%));
		}
		&[type="submit"]:disabled{
			color: grey;
			cursor: pointer;

		}
	}
	label, input {
		display: block;
	}
	label {
		font-size: 11px;
		color: #aeaeae;
		letter-spacing: 0.03em;
		position: absolute;
		top: 10px;
		left: 10px;
		text-transform: uppercase;
	}
	.active label, input:focus + label, textarea:focus + label  {
		color: #4d9c8a;
	}

	input, input:focus{
		background-color: transparent;
		border: 1px solid #ddd;
		color: #626262;
		font-size: 16px;
		margin: 0;
		padding: 25px 10px 15px;
		outline: none;
		width: 100%;
		height: 70px;

		&#hot{
			height: 34px;
			margin-left: 100px;
			width:auto;
			color: transparent!important;
		}
	}
	textarea, textarea:focus{
		background-color: transparent;
		border: none;
		color: #626262;
		font-size: 14px;
		margin: 9px 0 7px 0;
		padding: 25px 10px 15px;
		outline: none;
		width: 100%;
	}

	input:focus, textarea:focus {
		color: #000;
		background-color: #f5f5f5;
		.lh-box-shadow(0px 3px 4px -2px rgba(0, 0, 152, 0.25) inset);
	}

	label, input, textarea {
		transition: color 0.4s ease, background-color 0.1s ease-in-out;
	}

	.pagination {
		margin: 0;

		li{
			a{
				border-radius: 0;
				color: #202020;
				border-color: #3b3b3b;
				padding: 10px 15px;
				line-height: 14px;

				i {
					font-size: 22px;
				}
				&:focus{
					background-color: #ccc;
				}
				&.pageNums{
					display: block;
				}
			}
		}
		.active {
			a{
				background-color: #202020;
				border-color: #202020;
				color: #fff;
				.lh-background-image(linear-gradient(to bottom, #555555 0%, #202020 100%));
			}
		}
		.disabled {
			a{
				background-color: transparent;
				border-color: #a5a5a5;
				color: #a5a5a5;
			}
		}


	}

	@media(max-width:767px) {
		input, input:focus, textarea, textarea:focus {
			border: 1px solid #ddd;
		}
	}

	@media(max-width:500px) {
		.pageNums{
			display: none!important;
		}
	}

}