.newsPage {
	overflow: hidden;

	.cover {
		margin: 7px 20px 0 25px;
		display: inline-block;
		float: left;

		img {

			max-height: 450px;
		}
	}

	.content {
		margin: 0 0 20px 25px;
		max-width: 900px;
		color: #414141;
		font-size: 17px;
		line-height: 25px;

		p{
			margin-bottom: 14px;
		}
		ul{
			li{
				list-style: none;
			}
		}
	}

	.date {
		margin-left: 35px;
		font-size: 15px;
		color: #999;
	}

	.tags {
		margin: 40px 25px;

		span{
			display: inline-block;
			border: 1px solid #c7c7c7;
			padding: 5px 10px;
			color: #a9a9a9;
			margin-right: 5px;
			margin-bottom: 10px;
		}
	}
}

.news-list {
	margin: 0 0 20px 20px;
	overflow: hidden;

	.news{
		margin: 0 0 20px;

		position: relative;

		overflow: hidden;

		.cover{
			width: 300px;
			height: 200px;
			background-size: cover;
			background-position: 50% 20%;
			float: left;
		}

		.title{

			margin-left: 310px;
			width: auto;
			max-width: 800px;
			display: block;
			color: #000;
			font-size: 21px;
			line-height: 28px;
		}
		img {
			max-height: 480px;
			max-width: 370px;
			min-height: 230px;
		}
	}
}

@media(max-width:1000px) {
	.news-list .news .title{
		font-size: 18px;
		line-height: 26px;
	}
}
@media(max-width:550px) {
	.news-list .news .cover{
		width: 95%;

	}
	.news-list .news .title{
		margin-left: 0;
		height: auto;
		margin-right: 10px;
	}
}