<div class="main">

	<div class="pageHeaderInner">
		<h1>Добавить книгу</h1>
	</div>

	<div class="addBookForm">
		<form action="addbook" method="post" enctype="multipart/form-data">
			<div class="form-group">
				<input type="text" id="titleBook" class="form-control" name="title">
				<label for="titleBook">Название</label>
			</div>
			<div class="form-group">
				<textarea class="form-control" id="descriptionBook" name="description" rows="4"></textarea>
				<label for="descriptionBook">Содержание</label>
			</div>
			<div class="form-group">
				<input type="text" id="authorBook" class="form-control" name="author">
				<label for="authorBook">Автор</label>
			</div>
			<div class="form-group">
				<input type="text" id="yearBook" class="form-control" name="year" maxlength="4">
				<label for="yearBook">год</label>
			</div>
			<div class="form-group">
				<input type="text" id="ganreBook" class="form-control" name="ganre">
				<label for="ganreBook">Жанр</label>
			</div>
			<div class="form-group">
				<input type="file" name="cover">
			</div>
			<button type="submit" class="btn btn-default" disabled>Добавить</button>
		</form>
	</div>

</div>