<div class="main">

	<div class="pageHeaderInner">
		<h1>{{meta_title}}</h1>
	</div>
	<div class="admin-page" style="margin: 0 0 0 40px;">

        <h4>Всего Книг: {{totalBooks}}</h4>
        
	</div>

</div>