<div class="main">

	<div class="pageHeaderInner">
		<h1>Добавление Новости</h1>
	</div>

	<div class="addForm">
		<form action="addnews" method="post" enctype="multipart/form-data">
			<div class="form-group">
				<input type="text" id="title" class="form-control" name="title">
				<label for="title">Заголовок</label>
			</div>
			<div class="form-group">
				<textarea class="form-control" id="newsContent" name="newsContent" rows="15"></textarea>
				<label for="newsContent">Текст новости</label>
			</div>
			<div class="form-group">
				<input type="text" id="tags" class="form-control" name="tags">
				<label for="tags">Метки</label>
			</div>
			<div class="form-group fileinput">
				<label for="newsImage">
					<span  class="ion-ios-upload-outline upload"></span>
				</label>
				<input type="file" id="newsImage" name="newsImage" >
			</div>
			<button type="submit" class="btn btn-default">Добавить</button>
		</form>
	</div>

</div>