<div class="main">

	<div class="pageHeaderInner">
		<h1>Редактирование Новости</h1>
	</div>

	<div class="addForm">
		<form action="editnews" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="checkbox" id="hot" name="hot">
                <label for="hot">Важная<span style="color: red">*</span></label>
            </div>
			<div class="form-group">
				<input type="text" id="title" class="form-control" name="title">
				<label for="title">Заголовок</label>
			</div>
			<div class="form-group">
				<textarea class="form-control" id="newsContent" name="newsContent" rows="15"></textarea>
			</div>
			<div class="form-group">
				<input type="text" id="tags" class="form-control" name="tags">
				<label for="tags">Метки</label>
			</div>
			<div class="form-group fileinput">
				<label for="newsImage">
					<span  class="ion-ios-upload-outline upload"></span>
				</label>
				<input type="file" id="newsImage" name="newsImage" >
			</div>
			<button type="submit" class="button btn btn-default">Добавить</button>
		</form>
	</div>

</div>