<div class="main">

	<div class="pageHeaderInner">
		<h1>Администратор сайта</h1>
	</div>
	<div class="admin-page">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Книга</th>
                <th>Автор</th>
                <th>год</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
        {{#each book}}
            <tr>
                <th scope="row">{{@index}}</th>
                <td>{{title}}</td>
                <td>
                    {{#each authors}}
                        {{this.name}}{{#unless @last}},{{/unless}}
                    {{/each}}
                </td>
                <td>{{this.year}}</td>
                <td>edit/viev</td>
            </tr>
        {{/each}}
            </tbody>
        </table>

	</div>

</div>