<div class="main">

	<div class="pageHeader">
        <i class="ion-ios-world-outline"></i>
		<h1>{{meta_title}}</h1>
	</div>

	<div class="catalog">

        <div class="item">
            <a href="http://www.litres.ru/?lfrom=156223639" target="_blank">Litres.ru</a> — магазин лицензионных электронных книг.
        </div>
        <div class="item">
            <a href="https://fantlab.ru/" target="_blank">Fantlab.ru</a> — лаборатория фантастики.
        </div>
        <div class="item">
            <a href="http://flibusta.is/" target="_blank">Flibusta.is</a> — бесплатная некоммерческая онлайн-библиотека.
        </div>
        <div class="item">
            <a href="http://www.bookler.ru/" target="_blank">Bookler.ru</a> — система поиска-заказа книги и продажи литературы.
        </div>
        <div class="item">
            <a href="http://hamlet.ru/" target="_blank">Hamlet.ru</a> — тут продаются редкие и малотиражные, в том числе провинциальные издания, книги по краеведению и литература о путешествиях.
        </div>


        <div class="info">
            Чтобы <strong>добавить сайт</strong> в каталог / <strong>Обменяться ссылками</strong> пишите на адрес: bukker.ru@gmail.com
        </div>

	</div>

</div>