<div class="main">

	<div class="pageHeader">
        <i class="ion-ios-world-outline"></i>
		<h1>{{meta_title}}</h1>
	</div>

	<div class="catalog">

        <div class="item">
            1.  <a href="http://www.bookler.ru/">Bookler.ru</a> — система поиска-заказа книги и продажи литературы.
        </div>

        <div class="info">
            Чтобы <strong>добавить сайт</strong> в каталог / <strong>Обменяться ссылками</strong> пишите на адрес: bukker.ru@gmail.com
        </div>

	</div>

</div>