<div class="main">

	<div class="pageHeader">
		<h1>Жанры</h1>
		<div class="sorting">

		</div>
	</div>
	<div class="book-list">
		{{#each ganre}}
		<div>
			{{this.ganres}}
		</div>
		{{/each}}
	</div>

</div>