<div class="main">

	<div class="pageHeader">
		<h1>Жанры</h1>
		<div class="sorting">

		</div>
	</div>
	<div class="ganre-list">
		{{#each ganre}}
            {{this.title}} - {{this.url}}
            <div>
            {{#each this.subGanres }}
                <span>
                {{@key}}  / {{this}}
                </span>
                <br>
            {{/each}}
		</div>
            <hr>
		{{/each}}
	</div>

</div>