<div class="main">

	<div class="pageHeader">
		<h1>Главная</h1>
		<div class="sorting">
			<a id="menu-toggle" href="" class="active">новые</a> /
			<a href="">популярные</a>
		</div>
	</div>
	<div class="book-list">
		{{#each book}}
		<div class="book">
			<div><img src="covers/{{cover}}" title="{{title}}"></div>
			<div>{{title}}</div>
			<div>{{author}}</div>
		</div>
		{{/each}}
	</div>

</div>