<section>

    <div class="container">
        <div class="row">
            <div class="col-md-12"><img src="http://placehold.it/350x250"></div>
        </div>
        <div class="row">
            {{#each book}}
            <div class="col-md-4">{{@index}}. {{title}} - {{description}}</div>
            {{/each}}
        </div>

        <div class="row">
            <form action="/" method="post" enctype="multipart/form-data">
                <fieldset>
                    <legend>add book form:</legend>
                    title:<br>
                    <input type="text" name="title" value="title"/><br>
                    description:<br>
                    <input type="text" name="description" value="description"/><br>
                    author:<br>
                    <input type="text" name="author" value="author"/><br>
                    cover:<br>
                    <input type="file" name="cover" /><br>
                    <br>
                    <input type="submit" value="Submit">
                </fieldset>
            </form>
        </div>
    </div>

</section>