<div class="main">

	<div class="pageHeader">
        <i class="ion-ios-information-outline"></i>
		<h1>{{meta_title}}</h1>
	</div>

	<div class="info-page">

        <div class="devices">
            <img src="{{static-root}}/img/bukker-on-devices.jpg" alt="Bukker на разных девайсах">
        </div>

        <h3>Буккер</h3>

        <div style="margin: 10px 0">Цель проекта:</div>
        <div>Предоставить посетителю возможность выбрать интересующую книгу по оценкам, которые собираются с самых популярных книжных ресурсов интернета.</div>

	</div>

</div>