<div class="main">

	<div class="pageHeader">
        <i class="ion-ios-information-outline"></i>
		<h1>{{meta_title}}</h1>
	</div>

	<div class="contacts">

        <div class="info">
            Станица заполняется, зайдите немного позже.
        </div>

	</div>

</div>