<div class="main">

	<div class="pageHeader">
		<h1>Тэги</h1>
		<div class="sorting">

		</div>
	</div>
	<div class="book-list">
		{{#each tag}}
		<div>
			{{this}}
		</div>
		{{/each}}
	</div>

</div>